nav ul {    
    list-style: none;  
}
nav li {
    display: inline;
    padding: 30px;
}
nav {
    text-align: center;
    background-color: blue;
}
a {
    text-decoration-line: none;
}
h1 {
    text-align: center;
    color: red;
    text-shadow: 1px 1px 1px gray;
}
p {
    color: green;
}
img {
    box-shadow: 2px 2px 5px gray;
}

.title {
    color: rgba(153, 15, 57, 0.842);
}
.container {
    border: 5px dotted gray;
    margin-right: 500px; margin-left: 295px;
    padding: 50px;
}
.box {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: blue;
    margin: 10px;
}
.nav-wrapper {
    background-color: lawngreen;
}
.contact-box{
    display: flex;
    justify-content: center;
}
.row{
    margin: 10px;
}
.input-field{
    margin: 20px;
}

@keyframes fadeMe {
    0% {opacity: 1;}
    100% {opacity: 0;}
} #box1 {
    animation-name: fadeMe;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    0% {transform: rotate(0deg);}  
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);} 
    75% {transform: rotate(270deg);}  
} #box2 {
    animation-name: rotation;
    animation-duration: 10s;
    animation-iteration-count: 4s;
    animation-timing-function: ease-in-out;
    border-radius: 10%;
    background-image:radial-gradient(circle, purple, orange, lawngreen, pink, yellow);
}
@keyframes getBigger {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(.5);}
} #box3 {
    animation: getBigger infinite 6s 8s ease-in;
    border-radius: 50%;
    background: orange;
}
@keyframes changeColors {
    0% {background-color: grey;}
    25% {background-color: purple;}
    50% {background-color: yellow;}
    75% {background-color: pink;}
    100% {background-color: grey;}
} #box4 {
    animation: changeColors 3s 2s forwards;
}
@keyframes moveBox {
    0% {left: 0px; top: 0px;}
    25% {left: 100px; top: 0px;}
    50% {left: 100px; top: 200px;}
    75% {left: 0px; top: 200px;}
    100% {left: 0px; top: 0px;}
} #box5 {
    animation: moveBox 5s 3s;
    background: red;
    position: relative;  
}

#box6 {
    top: 100px;
    left: 200px;
    position: fixed;
}

.flex {
    margin: 30px;
    border: 3px solid black;
    display: flex; 
    flex-wrap: wrap; /* kutucukları bişeler  */
    justify-content: center; /* ögeleri yatayda hizalar*/
    align-items: center;/*ögeleri dikey hizalar*/
    padding: 200px;
    flex-direction: row-reverse;
}
.fist{
    border: 3px dashed purple;
    margin: 70px 20px;
}
.linkBorder {
    border: 3px solid aqua;
    border-radius: 50%;
}

#strong {
    color: rgb(211, 30, 235);
    border: 2px solid black;
    margin: 50px;
}
#italic {
    color: blue;
}

/* form input {
    display: block;
    margin: 30px;
}
form textarea {
    display: block;
    margin: 30px;
}
form button {
    display: block;
    margin: 30px;
}*/
form input, textarea, button {
    display: block;
    margin: 30px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, [col] 20% ) ;
    grid-template-rows: repeat(3, [row] auto  );
    background-color: #fff;
    color: #444;
}
.Box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    z-index:10;

}
.a {
    grid-column: col / span  2;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.b {
    grid-column: col 4 / span  2 ;
    grid-row: row ;
    display: flex;
    justify-content: center;
}
.c {
    grid-column: col / span 5 ;
    grid-row: row 2 ;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(pink, yellow, purple, orange);
}
.d {
    grid-column: col  / span  3 ;
    grid-row: row 3 ;
    display: flex;
    justify-content: center;
}
.e {
    grid-column: col 3 / span  3;
    grid-row: row 3;
    display: flex;
    justify-content: center;
}
.f {
    grid-column: col 2 / span 3;
    grid-row: row 2  ;
    background-color: rgba(49,121,207, 0.5);
    z-index: 20;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(orange, purple, yellow, pink);
}
